@import "./../../../styles/__var.scss";
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  pointer-events: none;
  transition: background-color 0.3s ease-in-out;
}
.overlay.active {
  background-color: rgba(0, 0, 0, 0.5);
}
.sidebar_menu {
  width: 100vw;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9998;
  transform: translateX(-100%);
  will-change: transform;
  transition: transform 0.5s ease-in-out;

  .sidebar__wrapper {
    background-color: $white;
    width: 100vw;
    height: 100%;
    background-color: rgba(248, 247, 247, 0.95);

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 16px;

      button {
        width: 50px;
        height: 50px;
        background-color: rgb(222, 220, 220);
        // background-color: #fff;
        border-radius: 15px;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;
    }
    .navLink {
      list-style: none;
      color: $gray900;
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      text-decoration: none;
    }
  }
}

.sidebar_menu.open {
  transform: translateX(0); /* Сдвиг влево, чтобы элемент появился */
}
