@import "./../../../styles/__var.scss";

.specialOffers {
  position: relative;

  background-color: $white;
  z-index: 9;
  // border: black 1px solid;
  padding-bottom: 96px;
  padding: 170px $padding108 96px;
  .specialOffers__content {
    .specialOffers__header {
      //  border: black 1px solid;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      //   align-items: baseline;
      align-items: center;
      padding: 0px;
      gap: 12px;
      h2 {
        font-family: "Inter Tight";
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 115%;
        color: $gray900;
        margin: 0;
      }
      .specialOffers__navigation {
        //    border: black 1px solid;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 40px;
        .nav__button {
          background-color: none;
          background: none;
        }
      }
    }
  }
  .specialOffers__corousel {
    margin-top: 48px;
    // background-color: orange;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
  }
}
