@import "../../styles/_var";

.signUp {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 80px;

  @media (max-width: 768px) {
    padding: 32px;
  }
  @media (max-width: 450px) {
    padding: 32px 16px;
  }
  .wrapper {
    width: 390px;
    margin: 48px 0;
    @media (max-width: 768px) {
      width: 60%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }
    h1 {
      color: $gray900;

      font-family: Inter Tight;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 115%;
      margin: 0;
    }
  }
  .form {
    width: 100%;

    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .name {
      display: flex;
      flex-direction: column;
      color: var(--gray-900, #1a1a1a);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      gap: 8px;
      input {
        display: flex;
        padding: 14px 12px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid $outline1;
        color: $gray300;

        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        &:focus {
          outline: none;
        }
      }
    }
    .email {
      display: flex;
      flex-direction: column;
      color: var(--gray-900, #1a1a1a);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      gap: 8px;
      input {
        display: flex;
        padding: 14px 12px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid $outline1;
        color: $gray300;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        &:focus {
          outline: none;
        }
      }
    }
    .password {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        display: flex;
        padding: 14px 12px;
        align-items: flex-start;
        gap: 4px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid $outline1;
        color: $gray300;

        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        &:focus {
          outline: none;
        }
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      span {
        color: $gray900;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
      .limit {
        color: $gray500;

        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
      }
    }
    .termsPolicy {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      color: $gray900;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;

      input {
        margin-right: 5px;
      }
      span {
        color: $primary500;
        cursor: pointer;
      }
    }
    .signUpBtn {
      background-color: $primary500;
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      padding: 12px 24px;
      display: flex;

      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 8px;
    }
    .login {
      color: var(--gray-900, #1a1a1a);
      text-align: center;
      align-self: stretch;

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      span {
        color: var(--primary-500, #3c7d46);

        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        cursor: pointer;
        margin-left: 4px;
      }
    }
    .line {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: var(--gray-500, #767676);

      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      hr {
        border: $outline2 1px solid;
        width: 45%;
      }
    }
    .googleBtn {
      border: $outline2 1px solid;
      display: flex;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 8px;
      color: var(--gray-900, #1a1a1a);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
  }
  .navLink {
    text-decoration: none;
  }
}
.error {
  border: 1px solid red !important;
}
.errorCheckBox {
  display: flex;
  flex-direction: row;
  font-family: Inter;
  border: red 1px solid;
  border-radius: 4px;
  input {
    margin-right: 5px;
  }
  span {
    color: $primary500;
    cursor: pointer;
  }
}

.needConfirmEmail {
  margin-top: 100px;
  span {
    color: $primary500;
    cursor: pointer;
  }
}
